footer {
  background-color: $footer-bg-color;
}

.footer-container {
  padding-top: 48px;
  align-items: baseline;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-right: 30px;
}

.footer-right,
.footer-center,
.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-center,
.footer-left {
  width: calc((50% - 45px) / 2);
}

.footer-right {
  width: calc((100% - 15px) / 2);
  margin-left: 15px;
}




