.main-nav {
  display: flex;

  & nav {
    display: flex;
    align-items: center;
  }
}



@media screen and (min-width: 480px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }

    .burger {
      display: block;
      // outline: none !important;
      width: 24px;
      height: 16px;
      vertical-align: bottom;
      text-align: right;
      // padding: 22px 23px;
      margin-left: auto;
      margin-top: 22px;
      margin-bottom: 22px;
      margin-right: 23px;

      border: 1px solid transparent;
      background-color: $secondary-text-color;
  }  

  .burger-icon {
    fill: $burger-color ;
  }
      &:hover,
      &:focus {
        cursor: pointer;
        fill:$accent-color;
        color: $accent-color;
      }
}

@media screen and (min-width: 768px) {
  .humburger {
    display: none;
  }

  .site-nav {
  display: flex;
  margin-left: 85px;

  & .menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .menu-link:hover,
  & .menu-link:focus {
    color: $accent-color;
  }
}

.menu-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & + & {
    margin-left: 50px;
  }
}

.menu-link.current {
  color: $accent-color;
  position: relative;
}

  .current::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    position: absolute;
    transform: translateX(-100%);
    bottom: 0;
  }
}
// @media screen and (min-width: 768px) and (max-width: 1199px) {

// }

@media screen and (min-width: 1200px)  {
  .burger {
    display: none;
  }
}
