.our-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-products .item {
  max-width: 370px;
  width: 100%;
  border-right-color: tomato;
  outline: red;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.products-img {
  display: block;
}

.products-position {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .section-products {
    display: none;
  }
} 