.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $secondary-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.5;
  }
}

.title-prodacts,
.title-feature {
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;

@media screen and (min-width: 480px) and (max-width: 1199px) {
  font-size: 14px;
  line-height: 1.1428;
  margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .title-feature  {
    text-align: center;
  }
}

.feature-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.title-section {
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.1785;
    margin-bottom: 30px;
  }
}

.title-products {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  color: $secondary-text-color;
  background-color: $background-grey;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.15;
}

.footer-title {
  color: $secondary-text-color;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
