body {
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
  z-index: 2;
  outline: 1px solid $accent-color;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-reset {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text-color;
  font-weight: 700;
}
