footer {
  background-color: $footer-bg-color;
}

.footer-container {
  padding-top: 48px;
  align-items: baseline;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }
}

  .footer-center,
  .footer-left {
    margin-bottom: 60px;
  }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-center,
  .footer-left {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
  margin-right: 30px;
}

  .footer-right,
  .footer-center,
  .footer-left {
    display: flex;
    flex-direction: column;
  }

  .footer-center,
  .footer-left {
    width: calc((50% - 45px) / 2);
  }

  .footer-right {
    width: calc((100% - 15px) / 2);
    margin-left: 15px;
    display: inline-block;
  }
}