footer {
  background-color: $footer-bg-color;
}

.footer-container {
  padding-top: 48px;
  align-items: baseline;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}



@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container {
    display: flex;
    align-items: center;
    width: 480px;
  }

  .footer-right,
  .footer-center,
  .footer-left {
 
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
  margin-right: 30px;
}

  .footer-right,
  .footer-center,
  .footer-left {
    display: flex;
    flex-direction: column;
  }

  .footer-center,
  .footer-left {
    width: calc((50% - 45px) / 2);
  }

  .footer-right {
    width: calc((100% - 15px) / 2);
    margin-left: 15px;
  }
}