// .page-header {
//   position: fixed;
//   min-height: 80px;
//   width: 100%;
//   background-color: $primary-bg-color;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

header {
  margin: 0;
}

// @media screen and (min-width: 480px) and (max-width: 767px) {
  
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {

// }

@media screen and (min-width: 1200px) and (max-width: 1199px) {
.page-header {
  position: fixed;
  min-height: 80px;
  width: 100%;
  background-color: $primary-bg-color;
  top: 0;
  left: 0;
  z-index: 1;
}
}