header {
  margin: 0;
}

.page-header {
  border-bottom: 1px solid $top-line;
  }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-header {
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
    .page-header {
      position: fixed;
      height: 80px;
      width: 100%;
      background-color: $primary-bg-color;
      top: 0;
      left: 0;
      z-index: 1;
  }
}