.feature-section {
  border-bottom: 1px solid $border-delimiter;
}

.section {
  outline: 2px solid red;
  padding: 94px 0;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding: 60px 0;
  }
}